<?xml version="1.0" ?>
<!-- @file 04-World-Liberty.urdf -->
<!-- @author Jon Scholz -->
<!-- @date July 10, 2013 -->
<!-- @brief World for visualizing liberty sensors. -->
 
<world name="liberty_arrows">

	<include filename="greenArrow.urdf" model_name="greenArrow"/>

	<entity model="greenArrow" name="g1"> <origin xyz="0.45 0.20 1.32" rpy="1.57 -1.57 1.5708"/> </entity>
	<entity model="greenArrow" name="g2"> <origin xyz="0.75 0.10 1.42" rpy="-1.5708 0 1.04"/> </entity>
	<entity model="greenArrow" name="g3"> <origin xyz="0.75 0.20 1.52" rpy="-2.09 0 1.5708"/> </entity>
	<entity model="greenArrow" name="g4"> <origin xyz="0.75 0.30 1.42" rpy="-1.5708 0.0 2.09"/> </entity>
	<entity model="greenArrow" name="g5"> <origin xyz="0.75 0.20 2.32" rpy="-1.04 0 1.5708"/> </entity>
	<entity model="greenArrow" name="g6"> <origin xyz="0.75 0.10 2.42" rpy="-1.5708 0 1.04"/> </entity>
	<entity model="greenArrow" name="g7"> <origin xyz="0.75 0.20 2.52" rpy="-2.09 0 1.5708"/> </entity>
	<entity model="greenArrow" name="g8"> <origin xyz="0.75 0.30 2.42" rpy="-1.5708 0.0 2.09"/> </entity>

</world> 
