<?xml version="1.0" ?>
<!-- @file 05-World-Krang-Teleop.urdf -->
<!-- @author Jon Scholz -->
<!-- @date July 10, 2013 -->
<!-- @brief The world for Krang teleop. -->
 
<world name="krang_teleop">

	<include filename="greenArrow.urdf" model_name="greenArrow"/>
	<include filename="KrangBlocks.urdf" model_name="Krang"/>

	<entity model="greenArrow" name="g1"> <origin xyz="0.45 0.20 1.32" rpy="1.57 -1.57 1.5708"/> </entity>
	<entity model="greenArrow" name="g2"> <origin xyz="0.75 0.10 1.42" rpy="-1.5708 0 1.04"/> </entity>
	<entity model="Krang" name="Krang"> <origin xyz="0.0 0.0 0.27" rpy="1.5708 0 -1.5708"/> </entity> 

</world> 
